DATABASE_URL="postgresql://postgres:postgres@localhost:5432/punto_venta_celulares?schema=public"
SESSION_SECRET="CAMBIA-ESTO-POR-UN-SECRETO-DE-64-CARACTERES-MINIMO-EN-PRODUCCION"
ACCESS_CODE_SECRET="CAMBIA-ESTO-POR-OTRO-SECRETO-INDEPENDIENTE-DE-64-CARACTERES"
NEXT_PUBLIC_APP_NAME="PUNTO DE VENTA CELULARES"
NEXT_PUBLIC_COMPANY_NAME="LINOEM DEVELOPMENT"
NODE_ENV="development"
ALLOW_DEMO_SEED="true"
